@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    list-style: none;
}

:root{
    --yellow: #fa8d25;
    --blue: #3308d3;
}
body{
    background-color: white;
    overflow-x: hidden;
}
/*section home*/
.home{
    height: 100vh;
    width: 100%;
    animation: bground 50s ease infinite;
    background-size: cover;
    background-position: center;
    transition: background-image .2s;
    position: relative;
    z-index: 2;
    background-image: url(bg3.jpg);
}
.home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #04182771;
    z-index: 1;
}
@keyframes bground {
    0%{
        background-image: url(bg1.jpg);
    }
    50%{
        background-image: url(bg2.jpg);
    }
    100%{
        background-image: url(bg3.jpg);
    }
}
.home header{
    padding: .5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--yellow);
    z-index: 20;
    position: relative;
}
.home header img{
    height: 70px;
}
.home header #menu{
    color: #ffffff;
    font-size: 2rem;
    display: none;
}
.home header ul{
    display: flex;
}
.home header ul img,
.home header ul .bx{
    display: none;
}
.home header ul li{
    margin: 0 1rem;
    color: #ffff;
    cursor: pointer;
}
.home header ul li:hover{
    color: var(--yellow);
}
.btn{
    display: flex;
    align-items: center;
    padding: 0.7rem 1.3rem;
    border: none;
    background-image: linear-gradient(140deg, rgb(250, 141, 37) 0%, rgb(51, 8, 211));
    border-radius: 3rem;
    cursor: pointer;
    color: #ffffff;
}
.home header button i{
    margin-right: 1rem;
}
.home .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    letter-spacing: 8px;
    color: #ffffff69;
}
.home .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.home .content p{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 900;
}
.home .content h2{
    font-size: 4rem;
    color: #ffffff;
}
.color{
    color: var(--yellow);
    transform: translateX(50px);
}
.home .content h3{
    color: #ffffff;
    text-align: center;
    margin-top: 2.5rem;
}
.home .pkgs{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/*section packages*/
.packages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 3rem 5rem;
}
.packages .package{
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(80, 79, 79, 0.52);
}
.packages .package img{
    width: 70px;
}
.packages .package h1{
    margin-top: 2rem;
    color: #302f2f;
    font-size: 1.4rem;
}
.packages .package h2{
    margin-top: 1rem;
    color: #302f2f;
    font-size: 1.2rem;
}
.packages .package p{
    width: 70%;
    color: #302f2f;
    margin-top: 1rem;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
}
.packages .package .lay{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(140deg, rgba(250, 140, 37, 0.747) 0%, rgba(52, 8, 211, 0.829));
    z-index: -1;
    transition: .3s ease;
}
.packages .package:hover .lay{
    bottom: 0;
}
.packages .package:hover h1,
.packages .package:hover h2,
.packages .package:hover p{
    color: #ffffff;
    transition: .3s cubic-bezier(0,-0.01, 0, 1);
}

.footer{
    font-size: 1rem;
    color: #fa8d25;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/*breakpoints*/
@media (max-width: 1200px){
    .home header{
        padding: 0.5rem 1rem;
    }
    .home header img{
        height: 55px;
    }
    .home .content p{
        font-size: 1.8rem;
    }
    .home .content h2{
        font-size: 3rem;
    }
    .home .content h3{
        font-size: 1rem;
        margin-top: 1rem;
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .packages{
        padding: 2.5rem 3vw;
        gap: 1.5vw;
    }
}

@media (max-width: 780px) {
    .home header #menu{
        display: initial;
    }
    .home header .navigation{
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;
        width: 90%;
        background: #302f2f;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        transition: .4s ease;
    }
    .home header .navigation.active{
        right: 0;
    }
    .home header ul li{
        background-color: transparent;
        transition: .2s ease;
        width: 100%;
        padding: 2rem 2rem;
        font-size: .75rem;
    }
    .home header ul li:hover{
        background-color: rgb(255, 255, 255);
        color: #302f2f;
        width: 100%;
    }
    .home header ul img{
        width: 50px;
        object-fit: contain;
    }
    .home header ul .bx{
        position: absolute;
        top: 1rem;
        width: 2rem;
        height: 2rem;
        left: .5rem;
        color: rgb(0, 0, 0);
        background: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    .home header ul img,
    .home header ul .bx{
        display: initial;
    }

    .packages{
        grid-template-columns: repeat(2, 1fr);
        padding: 2.5rem 3vw;
    }
}



@media (max-width: 450px) {
    .home header{
        padding: 0.5rem 0.2rem;
    }
    .home header img{
        height: 40px;
    }
    .home header button{
        padding: 0;
    }
    .home header button p{
        display: none;
    }
    .home header button i{
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        margin: 0;
    }
    .home .middle{
        font-size: 2.5rem;
        display: none;
    }
    .home .content p{
        font-size: 1rem;
    }
    .home .content h2{
        font-size: 2rem;
    }
    .home .content h3{
        font-size: .8rem;
        margin-top: .6rem;
    }


    .packages{
        grid-template-columns: 1fr;
        padding: 2.5rem 3vw;
    }
    .packages .package img{
        width: 50px;
    }
    .footer{
        font-size: .7rem;
        width: 100%;
        text-align: center;
    }
    .packages .package h1{
        font-size: 1rem;
    }
    .packages .package h1{
        font-size: 0.8rem;
    }
    .packages .package p{
        font-size: 0.6rem;
    }
}

a.purchase{
    padding: 0.6rem 1rem;
    width: max-content;
    text-decoration: none;
    margin: auto;
    text-align: center;
}
p.footer{
    margin-top: 1rem;
}
